{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <title> {% block pagetitel %} Pagename {% endblock %} </title>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
    
    <body>
        

        <link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/normalize.css' %}" />
        
        <div class="row">
            <div class="haupttitel">
                <div class="large-12 columns">
                {% block titel %}
                    sometitle
                {% endblock %}
                </div>
                <hr>
            </div>
        </div>
        <br>
        
        <div class="row"> 
            <div class="large-7 columns">
                <div class="row">
                    <div class="large-12 columns">
                        {% block content %} 
                            upper content left from sidebar
                        {% endblock %}
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="sub">
                        {% block subtitel %}
                        untertitel
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 large-uncentered columns">
                    {% block low%}
                    abhängig von untertitel
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <div class="large-4 large-offset-1 columns">
            <div class="row">
                <div class="sidebar large-12 columns">{% block sidetitel %}<h3>Archive</h3>{% endblock %}
                    {% block sidebar %}
                        sidebar displayed left from content
                    {% endblock %}
                </div>
            </div>
        </div>
       <hr> 
    </div>

    <div class="row">
        <div class="large-12 large-centered columns">
        {% block bottom %}
            some side scroll or back to ... page stuff
        {% endblock %}
        </div>
    </div>   
    </body>
</html>
     
