{% extends "base.html" %}
{% block pagetitel %}
    {{ post.post_title }}
{% endblock %}
    
{% block titel %}
   <h1>{{ post.post_title }}</h1>
{% endblock %}

{% block content %}
<br />
    <p>{{ post.post_text|safe}}</p><br />
{% endblock %}

{% block subtitel %}
    <p>Bilder</p><br />
{% endblock %}

{% block low %}
    {% for image in post.images.all %}
        <li>
        <a class="pics" rel="gallery" href='{{ image.image.url }}'><img src="{{ image.image.url }}" 
        alt="" width="200" height="100" />{{ image.image_title }}</a>
        </li>
    {% endfor %}
    <br />
{% endblock %}

{% block bottom %}
<div class="back"><br />
    <a href ={% url 'blogs:index'%}>back to main page</a>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
</div>
{% endblock %}
     
