<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <title>Lamins Blog</title>
    </head>
    
    <body>
        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/normalize.css' %}" />

        <div class="row">
          <div class="small-2 large-3 columns">&nbsp;</div>
          <div style= "text-align: center;" class="small-8 large-6 columns"><h1>Lamins Blog</h1></div>
          <hr>
          <div class="small-2 large-3 columns">&nbsp;</div>
        </div>
        <br>
        <div class="row"> 
            <div class="hide-for-small"> Herzlich willkommen auf meiner Blogseite.<br />
            Hier finden Sie ...<br />......<br />.....<br />.....<br />.....<br />viel Spass beim stöbern...<br />
            </div>
            <div class="right">
            archive 2013 <br />
            archive 2014<br />
            archive <br />
            archive <br />
            </div>
            <br /><br /> 
         <div style="text-align:left; text-decoration:underline"><strong>Blogbeiträge:</strong></div>
            <br>
        <div class="small-6 small-centered large-uncentered columns hide-for-small">
            {% if posts %}
            <ul>
            {% for post in posts %}
                {% if post.is_active %}
                <li><a href = "{% url 'blogs:detail' post.id %}"><em>{{ post.pub_date }}</em> &nbsp;&nbsp; <strong>{{ post.post_title }}</strong></a></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        </div>
        <div class="small-9 small-left large-uncentered columns show-for-small">
            {% if posts %}
            <ul>
            {% for post in posts %}
                {% if post.is_active %}
                <li><a href = "{% url 'blogs:detail' post.id %}"> &nbsp;&nbsp; <strong>{{ post.post_title }}</strong></a></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        </div>
        
        </div>
        <div class="row">
            <div class="small-5 small-centered columns">
                <div style="text-align: center" class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}">&lt;&lt;&lt;previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next&gt;&gt;&gt;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <a href = "{% url 'blogs:post_year_archive' year=2012 %}">archive 2013<a/>
        </div>   
    </body>
</html>
     
