{% extends "base.html" %}

{% block pagetitel %}
    Lamins Blogpage
{% endblock %}

{% block titel %}
    <h2>Lamins Blog</h2>
{% endblock %}

{% block content %} 
    <br /><p>Herzlich willkommen auf meiner Blogseite.<br />
    Hier finden Sie ...<br />.....<br />.....<br />.....<br />.....<br />.....<br />.....<br />.....<br />
    viel Spass beim stöbern...</p>
{%endblock%}

{% block subtitel %}
    <h3>Blogbeiträge:</h3>
{% endblock %}

{% block low%}
    {% if posts %}
        <ul>
        {% for post in posts %}
            {% if post.is_active %}
                <li>
                    <a href = "{% url 'blogs:detail' post.id %}">
                    <em>{{ post.pub_date|date:"d.m.y - H:i" }}</em> 
                    <p><strong>{{ post.post_title }}</strong></p></a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}

{% block sidetitel %}
    <h3>Archive</h3>
{% endblock %}
<hr>
{% block bottom %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">&lt;&lt;&lt;previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next&gt;&gt;&gt;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}   
