html body {
    background-color:gray;
    
}

p  {
    color: black;
}

hr  {
   background-color: blue;
   border-color: blue;
   color:blue;
   border:3px;
   display:block;
   
   
}

div.sub  {
    color: black;
}

div.row  {
    background-color: white;
    padding-left: 10px;
    padding-bottom:0px;
    margin-top:10px;
}

div.sidebar  {
    color: black;
    display:block;
    margin-right: 40px;
    position:static; 
    float:right;
    
}

div.haupttitel  {
    color: black;
    background-color: white;
    text-align: center;
    margin-bottom:10px;
}

div.pagination  {
    color: black;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
