
 html body {
    background-color:gray;
    
}

p  {
    color: black;
}

hr  {
   background-color: blue;
   border-color: blue;
   color:blue;
   border:3px;
   display:block;
   
   
}

div.sub  {
    color: black;
    text-align:left; 
    text-decoration:underline
}

div.row  {
    background-color: white;
    /*padding-left: 10px;
    padding-bottom:10px;
    margin-top:10px;*/
}

div.sidebar  {
    background-color: white;
    display:block;
    /*margin-right: 40px;
    position:static; 
    float:right;*/
    
}

div.haupttitel  {
    color: black;
    background-color: white;
    text-align: center;
   /* margin-bottom:10px;*/
}

div.pagination  {
    color: black;
    background-color: white;
    vertical-align: center;
}
