{% load staticfiles %}
{% load markup %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <title> {% block pagetitel %} Pagename {% endblock %} </title>
        
        <link type="text/css" rel="stylesheet" href="{% static 'blogs/fancybox/fancybox/jquery.fancybox-1.3.4.css'%}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/foundation.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
                
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'blogs/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'blogs/fancybox/fancybox/jquery.mousewheel.js' %}"></script>
        <script type="text/javascript" src="{% static 'blogs/app.js' %}"></script>
    </head>
    
    <body>
        <br />
        <div class="row">
            <div class="large-12 columns">
                <div class="haupttitel">    
                    {% block titel %}
                        maintitle
                    {% endblock %}
                </div>
            </div>
        </div>
        <br />
        
        <div class="row"> 
            <div class="large-7 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="content">
                            {% block content %} 
                                upper content left from sidebar
                            {% endblock %}
                        </div>    
                    </div>
                </div><hr>
                <div class="row">
                    <div class="sub">
                        {% block subtitel %}
                            subtitle
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 large-uncentered columns">
                        <div class="low">
                            {% block low%}
                                abhängig von untertitel
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        
        ************
            <div class="large-4 large-offset-1 columns">
                <div class="row">
                    <div class="sidebar large-12 columns">{% block sidetitel %}<br /><h3>Archive</h3>{% endblock %}
                        {% block sidebar %}
                            <fieldset> <legend>Jahresarchive</legend>
                                <select name="year">
                                    <option value="2013">Archiv-2013</option>
                                    <option value="2014">Archiv-2014</option>
                                </select>
                                <input type="button" value="GO" class="yearbutton">
                            </fieldset>
                            <fieldset> <legend>Monatsarchive</legend>
                                <select name="yearselection">
                                    <option value="2013">Archiv-2013</option>
                                    <option value="2014">Archiv-2014</option>
                                </select>
                                <select name="month">
                                    <option value="jan">Januar</option>
                                    <option value="feb">Februar</option>
                                    <option value="mar">März</option>
                                    <option value="apr">April</option>
                                    <option value="may">Mai</option>
                                    <option value="jun">Juni</option>
                                    <option value="jul">Juli</option>
                                    <option value="aug">August</option>
                                    <option value="sep">September</option>
                                    <option value="oct">Oktober</option>
                                    <option value="nov">November</option>
                                    <option value="dec">Dezember</option>
                                </select>
                                <input type="button" value="GO" class="monthbutton"/>
                            </fieldset>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.yearbutton').on('click', function(){
                                            var year = $('select[name=year]').val();
                                            window.location.href = "{% url 'blogs:index' %}archive/"+year;
                                        });
                                    });
                                </script>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.monthbutton').on('click', function(){
                                            var year = $('select[name=yearselection]').val();
                                            var month = $('select[name=month]').val();
                                            window.location.href = "{% url 'blogs:index' %}archive/"+year +"/"+month;
                                        });
                                    });
                                </script>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <hr>
        </div>
    
        <div class="row">
            <div class="large-12 large-centered columns">
                {% block bottom %}
                    some side scroll or back to ... page stuff
                {% endblock %}
            </div>
            <br />
        </div>
        <br />   
    </body>
</html>
     
